openapi: "3.0.2"
info:
  title: Stink Reporter
  description: "Report when and where it stinks and query for past stinks."
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 0.0.0
servers:
  - url: https://hierstinkts.wilhelm-gibt-keine-ruh.de/api
tags:
  - name: report
    description: "Report when and where it stinks"
paths:
  /v0/report:
    post:
      description: "Save new report to database and write email"
      tags:
        - report
      operationId: postNewReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                report:
                  $ref: "#/components/schemas/report"
                g-recaptcha-response:
                  type: string
      responses:
        "201":
          description: "Message saved"
        "400":
          description: Bad Request
          content:
            text/plain:
              schema:
                type: string
                example: "You must provide a message in the request body"
    get:
      description: "Get previously saved reports"
      tags:
      - report
      operationId: getReports
      responses:
        "200":
          description: "All reports"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/report'
components:
  schemas:
    report:
      type: object
      properties:
        time:
          type: string
          format: datetime
          example: "2020-03-10T12:00:00Z"
        location:
          type: object
          anyOf:
          - $ref: '#/components/schemas/address'
          - $ref: '#/components/schemas/coordinates'
        stink:
          $ref: '#/components/schemas/stink'
        reporter:
          $ref: '#/components/schemas/reporter'
      required: 
        - time
        - location
        - stink
        - reporter
          
    address:
      type: object
      properties:
        street:
         type: string
        number:
          type: string
        zip:
          type: string
        city:
          type: string
      required: 
        - street
        - number
        - zip
        - city
    coordinates:
      type: object
      properties:
        longitude:
          type: number
          minimum: -90
          maximum: +90
        latitude:
          type: number
          minimum: -180
          maximum: +180
      required: 
        - longitude
        - latitude
    stink:
      type: object
      properties:
        kind:
          type: string
        intensity:
          type: number
          minimum: 1
          maximum: 5
      required: 
        - kind
        - intensity
    reporter:
      type: object
      properties:
        name:
         type: string
        email:
          type: string
      required: 
        - name
        - email
